<mat-sidenav-container *ngIf="isLoaded" class="wrapper">
    <mat-sidenav class="wrapper__side"
        position="end" mode="{{isMenuOver ? 'over' : 'side'}}" [opened]="isOpened" #matSidenav>
        <app-favorite></app-favorite>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-jokes-page ></app-jokes-page>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="toggle" (click)="onToggle()">
    <img *ngIf="!isOpened" src="assets/icons/menu.svg">
    <img *ngIf="isOpened" src="assets/icons/cross.svg">
    Favorite
</div>